# Flutter/Dart/Pub
.dart_tool/
.packages
.pub/
build/

# Flutter plugin files
.flutter-plugins
.flutter-plugins-dependencies

# Generated
**/generated_plugin_registrant.dart

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store
